{# @Component
name: Breadcrumbs
description: Breadcrumbs are a visual way to tell people where they are on the site.
group: Drupal>Misc
samples:
  Short:
    breadcrumb:
      - {url: '#', text: 'Home'}
      - {text: 'You are here'}
  Long:
    breadcrumb:
      - {url: '#', text: 'Home'}
      - {url: '#', text: 'Some'}
      - {url: '#', text: 'Nested'}
      - {url: '#', text: 'Section'}
      - {text: 'You are here'}
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 class="show-for-sr">{{ 'Breadcrumb'|t }}</h2>
    <ul class="breadcrumbs">
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}
