# Default Drupal core excludes
sites/*/files
sites/*/settings.local.php

# Build tools
node_modules/*
behat.local.yml
bower_components/*

# Extras required for a composer build
core/*
vendor/*
modules/contrib
themes/contrib
!modules/contrib/README.md
!themes/contrib/README.md
artifacts/*

