# Environment specific files:
# @docroot
web/sites/*/files
web/sites/*/settings.local.php
web/sites/simpletest/*
.env
docker-compose.override.yml

# Contrib/external code:
web/core
web/modules/contrib/*
!web/modules/contrib/README.md
web/themes/contrib/*
!web/themes/contrib/README.md
web/profiles/contrib/*
!web/profiles/contrib/README.md
vendor/

# Build artifacts and tools:
node_modules
bower_components
behat.local.yml
/artifacts
web/themes/custom/*/dist
