
.patternlib--pattern {
  position: relative;
}

.patternlib--pattern .pattern-toggle {
  position:absolute;
  right: 0;
  top:0;
  border: 1px dotted black;
  padding: 2px 5px;
  opacity:0;
}

.patternlib--pattern:hover .pattern-toggle {
  opacity: 1;
}
