// Variables go here.  No SCSS code!

$body-font-family: "Roboto", sans-serif;
$header-font-family: "Roboto Slab", serif;
$font-family-monospace: "Roboto Mono", monospace;
$input-font-family: $body-font-family;
